---
layout: base
title: Book
---

.row
  .col-md-12
    %h2 Why You Need This Book
  
    %p
      The messaging concepts are well known in the enterprise software domain but they
      are only starting to spread out to other platforms.
      This book provides an introduction to messaging protocols for mobile and
      Web developers:

    %ul
      %li Explains the concept of messaging protocols in contrast to request/reply protocols such as HTTP
      %li Emphasizes the power of messaging protocols suited for mobile and Web platforms
      %li Includes examples of mobile and Web applications sending and receiving messages from messaging brokers
      %li Introduces messaging protocols suited for mobile devices
      %li Discusses messaging client libraries for popular mobile platforms and Web browsers
      %li Demonstrates how to integrate messaging into the application data flow
      %li Explains how to access legacy enterprise messaging infrastructure from mobile devices
    
    %h2 Target Audience
    
    %p
      Mobile and Web developers
    
    %p
      %strong
        Previous programming experience is recommended.
