---
layout: base
title: Contact
---

.row
  .col-md-8
    %h2 About the Book

    %p
      The book is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/deed.en_US">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 United States License</a>.

    .row.text-center
      %a{:href=>'http://creativecommons.org/licenses/by-nc-nd/3.0/us/deed.en_US', :rel=>'license'}
        %img{:src=>'http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png', :style=>'padding-bottom:1em' }

    %p
      Updates and information about the book are published in the
      %a{ :href=>'/news/'} News
      section and available from the
      %i.icon-rss.icon-large
      <a href='/feed.atom'>Atom feed</a> and tweeted at
      %i.icon-twitter.icon-large
      <a href='https://twitter.com/mobilewebmsg'>@mobilewebmsg</a>.

    %p
      The book is written using
      %a{ :href=>'http://www.methods.co.nz/asciidoc/'} AsciiDoc
      and the source is hosted on
      %i.icon-github.icon-large
      <a href='https://github.com/mobile-web-messaging/book/'>GitHub</a>.

    %p
      Any error can be reported using its
      %i.icon-bug.icon-large
      <a href='https://github.com/mobile-web-messaging/book/issues'>issue tracker</a>.

    %h2 About the Author

    %img.pull-left{ :src=>'https://s3.amazonaws.com/media.jmesnil.net/images/me-160w.jpg', :style=>'padding: 1em'}

    %p
      Jeff Mesnil is a software developer working at
      %a{ :href=>'http://redhat.com'}Red Hat
      on the
      %a{ :href=>'http://wildfly.org'}WildFly application server
      where he leads the messaging component.

    %p
      He previously worked on the
      %a{ :href=>'http://hornetq.org' } HornetQ message broker
      where he added support to the
      %a{ :href=>'http://stomp.github.io/'} STOMP protocol
      and pioneered the use of messaging protocols over HTML5 WebSocket
      with
      <a href='http://jmesnil.net/stomp-websocket/doc/'>stomp.js</a>.

    %p
      He writes about software development and photography on his
      %a{ :href=> 'http://jmesnil.net/weblog/'} Weblog
      and tweets at
      %i.icon-twitter.icon-large
      <a href='https://twitter.com/jmesnil'>@jmesnil</a>.

    %p
      He enjoys writing Open Source software and most of his code, written during his work
      at Red Hat or during his spare time, is hosted at
      %i.icon-github.icon-large
      <a href='https://github.com/jmesnil/'>Github</a>.

    %p
      He believes in using messaging protocol so that nobody is blocked while waiting for a reply
      and the best way to reach him is using plain old emails at
      %i.icon-envelope.icon-large
      <a href='mailto:jmesnil@gmail.com'>jmesnil@gmail.com</a>.


  .col-md-4
    %h2 About the Publisher

    %img.img-responsive{ :src=>"http://cdn.oreillystatic.com/images/sitewide-headers/ml-header-home-blinking.gif", :style=>'padding-bottom:1em'}

    %p
      The book is published by <a href="http://oreilly.com/">O'Reilly Media</a>.

    %p
      O'Reilly spreads the knowledge of innovators through its technology books, online services, magazines, research, and tech conferences. Since 1978, O'Reilly has been a chronicler and catalyst of leading-edge development, homing in on the technology trends that really matter and galvanizing their adoption by amplifying "faint signals" from the alpha geeks who are creating the future. An active participant in the technology community, O'Reilly has a long history of advocacy, meme-making, and evangelism.
