---
layout: base
title: Contact
---

.row
  .col-md-6
    %h2 About the Book
    
    %ul.list-unstyled
      %li
        %i.icon-twitter.icon-large
        %a{ :href=> 'https://twitter.com/mobilewebmsg'} @mobilewebmsg
      %li
        %i.icon-github.icon-large
        %a{ :href=> 'https://github.com/mobile-web-messaging/'} Github
  .col-md-6
    %h2 About the Author
    
    %ul.list-unstyled
      %li
        %i.icon-home.icon-large
        %a{ :href=> 'http://jmesnil.net/weblog/'} Weblog
      %li
        %i.icon-envelope.icon-large
        %a{ :href=> 'mailto:jmesnil@gmail.com'} jmesnil@gmail.com
      %li
        %i.icon-twitter.icon-large
        %a{ :href=> 'https://twitter.com/jmesnil'} @jmesnil
      %li
        %i.icon-google-plus.icon-large
        %a{ :href=> 'https://plus.google.com/117122508030998403906'} Google+
      %li
        %i.icon-github.icon-large
        %a{ :href=> 'https://github.com/jmesnil/'} Github
