---
layout: base
title: Home
---

.row
  .col-md-12

    %h1.text-center Mobile &amp; Web Messaging

    .pull-left{ :style => "padding: 1em"}
      %img{ :src=>'http://akamaicovers.oreilly.com/images/0636920032366/rc_cat.gif'}

      %p.text-muted.text-center Available Q3 2014

    %p.lead
      Messaging Protocols for Web and Mobile Devices

    %p
      The use of mobile devices is increasing and widening. Not only are smartphones and tablets connected to the Internet but also automation devices, car systems, and more.
      
    %p
      Even though these devices are increasingly powerful, they still have some
      constraints unknown from desktop computers and servers, they have limited
      battery life and intermittent network availability.
      They require protocols to communicate with other devices and servers in a
      reliable and efficient way.
      The messaging protocols are suited to overcome these constraints and use
      efficiently their most critical resources (network bandwidth and memory usage).

    %p
      Web applications are increasingly running on these devices. For these
      applications too, the messaging protocols can make them more efficient
      and responsive.

    %a.btn.btn-default{ :href=>'/book/' } Read more &raquo; 

.row
  .col-md-6
    %h2 Latest News
    %ul.list-unstyled
      - site.posts[0,5].each do |post|
        %li
          %a.text-info{:href=>post.url}= post.title
          %span.text-muted.pull-right= post.date.strftime('%B %-d, %Y')
          %p
            #{summarize( html_to_text( post.content ), 50 )}
            %a.text-info{:href=>post.url}
              %i.icon-double-angle-right
    
    %p
      %a.btn.btn-default{ :href=>'/news/' } More News &raquo; 

  .col-md-6
    <a class="twitter-timeline" href="https://twitter.com/mobilewebmsg" data-widget-id="370112171989934080">Tweets by @mobilewebmsg</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

