---
---

%article
  %div{ :style=>'padding-bottom: 1em'}
    %h1
      %a{ :href=> page.post.url }= page.post.title
    .small.text-muted= page.post.date.strftime('%B %-d, %Y')

  ~ page.post.content.force_encoding("UTF-8")
